.btn {
  padding: 13.5px 44px;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 600;
  box-shadow: $box-shadow;
  transition: 0.5s;

  cursor: pointer;
}

.btn--outlined {
  background: transparent;
  color: $primary-main;
  border: 2px solid $primary-main;

  &:hover {
    background: $primary-main;
    color: white;
  }
}
.btn--contained {
  background: linear-gradient(120deg, #60a4f4, #2a73dd);
  color: white;
  border: none;
  padding: 15.5px 46px;
  &:hover{
    color: white;
    opacity: 0.75;
  }
}
